include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include ecs_vim *.css
recursive-include ecs_vim *.csv
recursive-include ecs_vim *.html
recursive-include ecs_vim *.ico
recursive-include ecs_vim *.js
recursive-include ecs_vim *.json
recursive-include ecs_vim *.md
recursive-include ecs_vim *.png
recursive-include ecs_vim *.py
recursive-include ecs_vim *.svg
recursive-include ecs_vim *.txt
recursive-exclude ecs_vim *.pyc