{% extends "templates/web.html" %}

{% block page_content %}
{% macro logo_section() %}
<div class="page-card-head">
	<img class="app-logo" src="{{ logo }}">
	<h4>{{ _('Login to {0}').format(app_name or _("Frappe")) }}</h4>
</div>
{% endmacro %}

<div style="display: flex; justify-content: center;  align-items: center; height: 80vh;">

    <section class='for-signup' style="width: 30%; padding: 5rem 1rem; border-radius: 1rem; background-image: linear-gradient(45deg, rgba(255,190,0,1) 0%, rgba(117,9,121,1) 80%);">
        <div class="login-content page-card">
            {%- if True -%}
            <form class="form-signin form-signup form-otp" role="form">
                <div class="page-card-body">
                    <div class="form-group">
                        <label class="form-label sr-only" for="signup_fullname">OTP</label>
                        <input type="text" id="otp" class="form-control" placeholder="{{ _('OTP') }}"
                            required autofocus>
                    </div>
                    
                </div>
                <div class="page-card-actions">
                    <!-- <span class="d-block text-white" style="font-size: .7rem;">You Can Ask New Code After:</span> -->
                    <br>
                        <button class="btn btn-sm btn-primary btn-signup" style="background-image: linear-gradient(to right, #7311EA , #523D82);"
                            type="submit">{{ _("Verify") }}</button>
                </div>
            </form>
            {%- else -%}
            <div class='page-card-head'>
                <span class='indicator gray'>{{_("Signup Disabled")}}</span>
            </div>
            <p>{{_("Signups have been disabled for this website.")}}</p>
            <div><a href='/' class='btn btn-primary btn-sm'>{{ _("Home") }}</a></div>
            {%- endif -%}
        </div>
    
    </section>
</div>
<script>

	frappe.ready(function(){
		document.querySelector(".page-footer").innerHTML = `<div class="left-images" style= "background-color: #674a9e;position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;">
	<div class="d-flex align-items-end" style="border-top: 3px solid #000;">
	  <div>
		<img src="/files/3-Logo-L.png" width="100" height="100">
	  </div>
	  <div style="font-weight: bold; font-size: .8rem;">
		<a href="mailto:info@vim.sa (+ 966) 800-244-0306" style="color: black;">info@vim.sa (+ 966) 800-244-0306</a>
	  </div> 
	</div>
  </div>`
	})
</script>
 {% endblock %}