<style>
	.navbar .navbar-collapse {
  background-color: inherit;
  }
  .navbar .navbar-collapse li a{
	color: #000000;
  }
  .white-color path{
	fill: #FFF !important;
  }
  @media only screen and (max-width: 991px) {
  #language-switcher{
	display: none;
  }
  .navbar-collapse{
	background-color: #72609e!important;
  }
  .navbar-toggler{
	border: none
  }
  }
</style>

<nav class="navbar navbar-expand-lg"  style = "background-image: linear-gradient(to right, #7311EA , #523D82);">
	<div class="container">
		<a class="navbar-brand" href="{{ url_prefix }}{{ home_page or "/" }}">
			{%- if brand_html -%}
			<img src='/files/Asset 4.png'>
			{%- elif banner_image -%}
				<img src='{{ banner_image }}'>
			{%- else -%}
				<span>{{ (frappe.get_hooks("brand_html") or [_("Home")])[0] }}</span>
			{%- endif -%}
		</a>
		<button class="navbar-toggler" type="button"
			data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
			>
			<span>
				<i class="fa-solid fa-bars" style="color: #FFF;">
					<use href="#icon-menu"></use>
				</i>
			</span>
		</button>

		<div class="collapse navbar-collapse " style = "z-index: 1;
		 color:#FFF"id="navbarSupportedContent" >
			{% include "templates/includes/navbar/navbar_items.html" %}
		</div>
		<div class="form-group mb-0 hide" id="language-switcher">
			<select class="form-control"></select>
		</div>
	</div>
	
</nav>

