<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="assets/ecs_vim/vim_assets/css/style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />

    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <!-- start of navbar -->
    <div class="navbar">
      <a href="#" class="logo"
        ><img class="logo-img" src="assets/ecs_vim/vim_assets/1x/Asset 4.png" alt=""
      /></a>

      <div class="navbar-right">
        <a class="login" href=""
          ><span style="font-size: 13px">تسجيل دخول / مستخدم جديد</span>
          <img
            style="width: 30px"
            src="assets/ecs_vim/vim_assets/1x/profil/1x/Asset 3.png"
            alt=""
        /></a>
        <a href="#" class="nav-link">تواصل معنا</a>
        <a href="#" class="nav-link">من نحن ؟</a>
        <a href="#" class="nav-link">الرئيسية</a>
        <a href="#" class="nav-link"><img src="" alt="img" /></a>
      </div>
    </div>
    <!-- end of navbar -->